/*
 * Copyright (c) 2024 Your Name
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
            label = "DEFAULT";
            bindings = <
                &kp 1     &kp 2
                &kp 3     &kp 4
            >;
        };
        
        function_layer {
            label = "FUNCTION";
            bindings = <
                &bt BT_CLR   &bt BT_SEL 0
                &bt BT_SEL 1 &trans
            >;
        };
    };
};